img {
  width: 75px;
  height: 75px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card1,
.card2,
.card3 {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}
